
h1{
    font-family: 'Montserrat', sans-serif;
}

body{
   background-color: #008080;
}

.post-container{
    width: 70%;
    height: 100%;
    margin: 30px auto 20px auto;
    background-color: #fffafa;
}

.post-container .date{
    font-family: 'Roboto' , sans-serif;
    color: #008080;
}

.post-container div.post-content{
    width: 90%;
    font-family: 'Open sans' , sans-serif;
    font-weight: normal;
}

.post-container .post{
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 50px;
}

